h1 {
    color: #66bb6a;
}
h1{
    text-align: center;
}
img {
    font-size: larger;
}
h2{
    color: #004d40;
}
h3 {
    color: #76ff03;
}
h5 {
    color: #212121;
}
p {
    font-size: larger;
}